@model project_donation.Models.Donor.Donor
@{
    ViewData["Title"] = "Add Donor";
}

<div class="text-center">
    <h1 class="display-4">Add a New Donor</h1>
</div>

  <form asp-controller="Donors" asp-action="Create" method="post">
    <div class="row col-md-12">
  
        <div class="form-group col-md-4">
            <label asp-for="name_donor"></label>
            <input asp-for="name_donor" class="form-control" />
            <span asp-validation-for="name_donor" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="email_donor"></label>
            <input asp-for="email_donor" type="email" class="form-control" />
            <span asp-validation-for="email_donor" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="phone_donor"></label>
            <input asp-for="phone_donor" type="tel" class="form-control" />
            <span asp-validation-for="phone_donor" class="text-danger"></span>
        </div>

    </div>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>